.footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #feefc3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .author {
        color: #6e8fe3;
    }
}